# Auto detect text files and perform LF normalization
* text=auto

# Excel Compare
*.xlsx 	 diff=excel
*.xls    diff=excel
*.xlt 	 diff=excel

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
